<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mubtransito">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SelecionarConsultaOcorrencia"></activity>
        <activity android:name=".SelecionarAtenderOcorrencia" />
        <activity android:name=".SelecionarAlterarOcorrencia" />
        <activity android:name=".RecuperarSenha" />
        <activity android:name=".ListarOcorrencia" />
        <activity android:name=".ConsultarOcorrencia" />
        <activity android:name=".AtenderOcorrencia" />
        <activity android:name=".AlterarOcorrencia" />
        <activity android:name=".InserirOcorrencia" />
        <activity android:name=".UsuarioMenu" />
        <activity android:name=".CadastrarUsuario" />
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>